<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/style.css">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= product.name %>
    </title>
</head>

<body>
    <h1>
        <%= product.name %>
    </h1>
    <img src="<%= product.img %>" />
    <h2>
        <%= product.description %>
    </h2>
    <p>Price: $<%= product.price %>
    </p>
    <p>Quantity:
        <%= product.qty%>
    </p>
    <p>
        <% if (product.qty <=0) { %>
            <p>Out of Stock...</p>
            <% } else { %>
                <%= product.qty>=0%>
                    <form action="/products/<%=productId%>/buy?_method=PUT" method="POST">
                        <input class="delete" type="submit" value="Buy">
                    </form>
                    <% } %>
    </p>

    <a href="/products">Back To Shop</a>
</body>

</html>